# Virtual environments
myenv/
venv/
env/
.venv/
ENV/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
dist/
*.egg-info/
.eggs/

# Jupyter Notebook
.ipynb_checkpoints/
*/.ipynb_checkpoints/*

# Environment variables / secrets
.env
.env.*
*.key

# IDE / editor
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db
